h4{
	margin: 0;
}
.bold{
	font-weight: bold;
}
.input-row,
.input-child-row{
	margin-bottom: 7px;
	position: relative;
	}
	.input-row label,
	.input-child-row label{
		display: inline-block;
		font-family: 'Arial';
		font-size: 12px;
		line-height: 16px;
		width: 400px;
	}
	
	span{
		font-family: 'Arial';
		font-size: 12px;
		line-height: 16px;
	}

.input-child-row{
	background-color: #eee;
	padding: 3px 0 3px 50px;
	margin-bottom: 4px;
	border: 1px solid #bbb;
	width: 70%;
}

.input-child-row label{
	padding-right: 5px;
}

#divPartos{
	display: none;
}
.divDespuesDel31032013{
	display: none;
}

select{
	vertical-align: top;
}

.resultado,
#resultadoFase2{
	font-family: 'Arial';
	font-size: 19px;
	margin-top:17px;
	text-align:center;
	color:#8BB523;
		}

/*=============== FASE 2 ==============*/
#fase2form{
	display: none;
}
.divCeseVoluntario{
	display:none;
}
#divCeseVoluntario,
#divDespuesOptions{
	margin-bottom: 20px;
}