@charset "utf-8";
body {
	background-color:#FFFFFF;
  background-position:initial initial;
  background-repeat:initial initial;
  color:#4B4B4D;
  cursor:default;
  font-family:Arial, sans-serif;
  font-weight:normal;
  overflow: visible;
  padding-top:5px;
  font-size:13px;
  min-width:960px;
}
/* ~~ Selectores de elemento/etiqueta ~~ */
ul, ol, dl { /* Debido a las diferencias existentes entre los navegadores, es recomendable no añadir relleno ni márgenes en las listas. Para lograr coherencia, puede especificar las cantidades deseadas aquí o en los elementos de lista (LI, DT, DD) que contienen. Recuerde que lo que haga aquí se aplicará en cascada en la lista .nav, a no ser que escriba un selector más específico. */
	padding: 0;
	margin: 0;
}
h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* la eliminación del margen superior resuelve un problema que origina que los márgenes escapen del bloque contenedor. El margen inferior restante lo mantendrá separado de los elementos de que le sigan.  */
	padding-right: 15px;
	padding-left: 15px; /* la adición de relleno a los lados del elemento dentro de los bloques, en lugar de en los elementos del bloque propiamente dicho, elimina todas las matemáticas de modelo de cuadro. Un bloque anidado con relleno lateral también puede usarse como método alternativo. */
}
a img { /* este selector elimina el borde azul predeterminado que se muestra en algunos navegadores alrededor de una imagen cuando está rodeada por un vínculo */
	border: none;
}
/* ~~ La aplicación de estilo a los vínculos del sitio debe permanecer en este orden (incluido el grupo de selectores que crea el efecto hover -paso por encima-). ~~ */
a:link {
	text-decoration: none; /* a no ser que aplique estilos a los vínculos para que tengan un aspecto muy exclusivo, es recomendable proporcionar subrayados para facilitar una identificación visual rápida */
}

a:hover, a:active, a:focus { /* este grupo de selectores proporcionará a un usuario que navegue mediante el teclado la misma experiencia de hover (paso por encima) que experimenta un usuario que emplea un ratón. */
	text-decoration: none;
}
/* ~~ Este contenedor de anchura fija rodea a todas las demás bloques ~~ */
.container {
	width: 960px;
	background-color: #FFFFFF;
	margin: 0 auto; /* el valor automático de los lados, unido a la anchura, centra el diseño  */
}
/* ~~ No se asigna una anchura al encabezado. Se extenderá por toda la anchura del diseño. ~~ */
header {
	background-color: #ADB96E;
}
/* ~~ Estas son las columnas para el diseño. ~~ 

1) El relleno sólo se sitúa en la parte superior y/o inferior de los elementos del bloque. Los elementos situados dentro de estos bloques tienen relleno a los lados. Esto le ahorra las "matemáticas de modelo de cuadro". Recuerde que si añade relleno o borde lateral al bloque propiamente dicho, éste se añadirá a la anchura que defina para crear la anchura *total*. También puede optar por eliminar el relleno del elemento en el  bloque y colocar un segundo bloque dentro de éste sin anchura y el relleno necesario para el diseño deseado.

2) No se asigna margen a las columnas, ya que todas ellas son flotantes. Si es preciso añadir un margen, evite colocarlo en el lado hacia el que se produce la flotación (por ejemplo: un margen derecho en un bloque configurado para flotar hacia la derecha). En muchas ocasiones, puede usarse relleno como alternativa. En el caso de bloques para los que deba incumplirse esta regla, deberá añadir una declaración "display:inline" a la regla del elemento del bloque para evitar un error que provoca que algunas versiones de Internet Explorer dupliquen el margen.

3) Dado que las clases se pueden usar varias veces en un documento (y que también se pueden aplicar varias clases a un elemento), se ha asignado a las columnas nombres de clases en lugar de ID. Por ejemplo, dos bloques de barra lateral podrían apilarse si fuera necesario. Si lo prefiere, éstas pueden cambiarse a ID fácilmente, siempre y cuando las utilice una sola vez por documento.

4) Si prefiere que la navegación esté a la izquierda en lugar de a la derecha, simplemente haga que estas columnas floten en dirección opuesta (todas a la izquierda en lugar de todas a la derecha) y éstas se representarán en orden inverso. No es necesario mover los bloques por el código fuente HTML.

*/
.sidebar1 {
	float: left;
	width: 180px;
	padding-bottom: 10px;
}
.content {
	padding: 10px 0;
	width: 600px;
	float: left;
}
aside {
	float: left;
	width: 180px;
	padding: 10px 0;
}

/* ~~ Este selector agrupado da espacio a las listas del área de .content ~~ */
.content ul, .content ol {
	padding: 0 15px 15px 40px; /* este relleno reproduce en espejo el relleno derecho de la regla de encabezados y de párrafo incluida más arriba. El relleno se ha colocado en la parte inferior para que el espacio existente entre otros elementos de la lista y a la izquierda cree la sangría. Estos pueden ajustarse como se desee. */
}

/* ~~ Los estilos de lista de navegación (pueden eliminarse si opta por usar un menú desplegable predefinido como el de Spry) ~~ */
ul.nav {
	list-style: none; /* esto elimina el marcador de lista */
	border-top: 1px solid #666; /* esto crea el borde superior de los vínculos (los demás se sitúan usando un borde inferior en el LI) */
	margin-bottom: 15px; /* esto crea el espacio entre la navegación en el contenido situado debajo */
}
ul.nav li {
	border-bottom: 1px solid #666; /* esto crea la separación de los botones  */
}
ul.nav a, ul.nav a:visited { /* al agrupar estos selectores, se asegurará de que los vínculos mantengan el aspecto de botón incluso después de haber sido visitados  */
	padding: 5px 5px 5px 15px;
	display: block; /* esto asigna propiedades de bloque al vínculo, lo que provoca que llene todo el LI que lo contiene. Esto provoca que toda el área reaccione a un clic de ratón. */
	width: 160px;  /*esta anchura hace que se pueda hacer clic en todo el botón para IE6. Puede eliminarse si no es necesario proporcionar compatibilidad con IE6. Calcule la anchura adecuada restando el relleno de este vínculo de la anchura del contenedor de barra lateral. */
	text-decoration: none;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { /* esto cambia el color de fondo y del texto tanto para usuarios que naveguen con ratón como para los que lo hagan con teclado */
	color: #FFF;
}

/* ~~ El pie de página ~~ */
footer {
	padding: 10px 0;
	background-color: #FFF;
	position: relative;/* esto da a IE6 el parámetro hasLayout para borrar correctamente */
	clear: both; /* esta propiedad de borrado fuerza a .container a conocer dónde terminan las columnas y a contenerlas */
}
/* ~~ Clases float/clear varias ~~ */
.fltrt {  /* esta clase puede utilizarse para que un elemento flote en la parte derecha de la página. El elemento flotante debe preceder al elemento junto al que debe aparecer en la página. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* esta clase puede utilizarse para que un elemento flote en la parte izquierda de la página. El elemento flotante debe preceder al elemento junto al que debe aparecer en la página. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* esta clase puede situarse en elemento <br /> o en un bloque vacío como elemento final tras el último bloque flotante (dentro de .container) si el pie se elimina o se saca fuera de .container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

/*Compatibilidad con HTML 5: define nuevas etiquetas HTML 5 como display:block para que los navegadores sepan cómo procesar las etiquetas correctamente. */
header, section, footer, aside, article, figure {
	display: block;
}
.wrapper{
	margin:0 auto;
	width:960px;
}
.logo {
	float:left;
  margin-left:0px;
  position:absolute;
}
.logo a{
background-image:url(../img/logo-gestolasa.jpg);
  background-position:initial initial;
  background-repeat: no-repeat;
  display:block;
  height:100px;
  overflow:hidden;
  text-indent:100%;
  white-space:nowrap;
  width:250px;
}
.nav_and_phone {
	float:right;
  margin:45px 0 20px;
}
nav {
	display:block}
nav ul {
	float:right;
  font-size:16px;
  margin-right:50px;
  text-transform:lowercase;
  list-style:none;
  font-weight:bold;
  }
nav li{
	float:left;
}
nav a{
	color:#4B4B4D;
  display:block;
  padding:10px 18px;
  text-decoration:none;
}
.nav_separator{
background-image:url(../img/nav_separator.jpg);
  background-position:initial initial;
  background-repeat:no-repeat repeat;
  clear:both;
  display:block;
  height:7px;
  width:700px;
}
.phone{
	background-color:#FFFFFF;
  background-image:url(../img/phone.jpg);
  background-position:0 0;
  background-repeat:no-repeat no-repeat;
  display:block;
  float:right;
  height:70px;
  margin-right:48px;
  padding-left:22px;
  width:173px;
}
.phone p {
  font-size:16px;
  padding-top:37px;
  font-weight:bold;
  padding-left:5px;
}
nav a:hover{
	color:#8bb523;
}
#content {
 margin:125px auto 30px;
  padding-top:20px;
  position:relative;
  width:960px;
}
#anticipada{
  display:none;
}
.fields,
.fieldsfase2{
	margin:0 auto;
  width:680px;
  padding-top:37px;
  margin-left:285px;
}
.fieldsfase2{
  padding-top: 0;
}
.fields p,
.fieldsfase2 p{
font-size:18px;
}
p.one {
  color:#4b4b4d;
  text-align:left;
  margin-left:240px;
   margin-bottom:9px;
  font-weight:bold;
  font-size:18px;
}
p.two {
  color:#666668;
  margin-left:222px;
   margin-bottom:9px;
  font-weight:bold;
  font-size:18px;
}
p.three {
  color:#78787a;
  margin-left:389px;
   margin-bottom:9px;
  font-weight:bold;
  font-size:18px;
}
p.four {
  color:#818182;
  margin-left:363px;
  margin-bottom:9px;
  font-weight:bold;
  font-size:18px;
}
p.five {
  color:#99999a;
  text-align:left;
  margin-left:202px;
  font-weight:bold;
  margin-bottom:66px;
  font-size:18px;
}
.footer{
margin:0 auto 50px;
width:960px;
}
.footer_separator {
  background-color:#8BB523;
  background-position:initial initial;
  background-repeat:initial initial;
  height:5px;
  margin:10px auto;
  width:100%;
}

.footer_info p {
  font-size:11px;
  text-align:center;
}
.footer_info p.green {
  display:inline-block;
  font-size:1.1em;
  font-weight:bold;
  padding:0 5px;
}
.video{
	width:265px;
	float:left;
	height:100%;
	margin-top:37px;
}
.preguntas {
	width:440px;
	float:left;
	height:100%;
	text-align:center;
}
.preguntas p{
	color: #8cb61e;
	margin-bottom:19px;
	font-size:18px;
	font-weight:bold;
	text-decoration:none
}
.preguntas a{
	color: #8cb61e;
	font-size:18px;
	text-decoration:none
}
.preguntas a:hover{
	background-image:url(../img/boton-gris.png);
	background-position:left;
	background-repeat:no-repeat;
}
.imagen{
	width:255px;
	float: right;
	height:100%;
}
.servicios-index{
	margin-top:85px;
	width:960px;
	clear:both;
}

.servicios-index p:hover{
	color:#8bb523;
}
.separador{
	background-image:url();
  background-position:initial initial;
  background-repeat:repeat no-repeat;
  clear:both;
  display:block;
  height:25px;
  width:100%;
  margin-top:232px;
  }
.separador1{
	background-image:url(../img/linea-verde.png);
  background-position:initial initial;
  background-repeat:repeat no-repeat;
  clear:both;
  display:block;
  height:25px;
  width:100%;
  margin-top:436px;
  position:absolute;
}
.boton{
	position:absolute;
	margin-left:308px;
	margin-top:-47px;}
.since {
	background-color:#8BB523;
  background-position:initial initial;
  background-repeat:initial initial;
  height:39px;
  padding-top:1px;
  position:absolute;
  margin-top:187px;
  width:100%;
  float:left;
}
.since p {
  background-image:url(../img/contigo.png);
  background-position:initial initial;
  background-repeat: no-repeat;
  display:block;
  height:35px;
  margin:3px auto 0;
  overflow:hidden;
  text-indent:100%;
  white-space:nowrap;
  width:191px;
}
.servicio_img {
  background-image:url(../img/servicio1.jpg);
  background-position:initial initial;
  background-repeat:initial initial;
  display:block;
  float:left;
  height:380px;
  width:401px;
  margin-top:141px;
}
.preg-servicio_img {
  background-image:url(../img/servicio1.jpg);
  background-position:initial initial;
  background-repeat:initial initial;
  display:block;
  float: right;
  height:380px;
  width:401px;
  margin-top:141px;
}

ul.contenido {
  display:block;
  float:left;
  font-size:15px;
  line-height:1.4em;
  margin-top:130px;
  margin-left:58px;
  width:398px;
  background-image:url(../img/cuadro-texto-servicios.png);
  padding-top:63px;
  padding-left:95px;
  height:295px;
}
ul.contenido  li {
  margin-bottom:10px;
}
ul.menu_servicios {
  display:block;
  float:left;
  font-size:14px;
  line-height:1.4em;
  margin-top:40px;
  width:410px;
  list-style:none;
  margin-left:-395px;
  color: #8BB523;
  margin-bottom:120px;
  font-weight:bold;
}
ul.menu_servicios li a{
   color: #8BB523;
}
ul.menu_servicios li a:hover{
   color: #666668;
}
ul.menu_servicios li {
  margin-bottom:10px;
  border-bottom:2px solid #999;
  padding-left:16px;
}
.gohome a {
  background-image:url(../img/gohome_arrow.jpg);
  background-position:0 50%;
  background-repeat:no-repeat no-repeat;
  color:#6f6f6f;
  display:block;
  float:left;
  font-size:1em;
  margin:7px 0 0 26px;
  padding:0 0 1px 22px;
  text-decoration:none;
}
.gohome a:hover{
	color:#8bb523;
	background-image:url(../img/gohome_arrow_hover.jpg);
}
ul.contenido-preg-prej {
  display:block;
  float:left;
  font-size:13px;
  line-height:1.4em;
  margin-top:130px;
  margin-left:6px;
  width:475px;
  background-image:url(../img/cuadro-gris.png);
  padding-top:45px;
  padding-left:32px;
  height:291px;
  margin-bottom:-18px;
}
ul.contenido-preg-prej  li {
  margin-bottom:10px;
  list-style:none;
}
.contacto-preg{
	background-image:url(../img/caja-verde.png);
	background-position:initial initial;
  background-repeat:initial initial;
  display:block;
  height:54px;
  margin-left:546px;
  margin-top:-41px;
  padding-top:20px;
  position:absolute;
  width:428px;
}
.contacto-preg p{
	color:#FFF;
	text-align:center;
}
.noticias-preg{
	width:960px;
	height:124px;
	margin-top:91px;
}
.noticias-preg h1{
	font-size:16px;
}
.imagen-calc{
	/*position:absolute;*/
	float:left;
	/*margin-top:219px;*/
	/*margin-left:0px;*/
}
.fields h1,
.fieldsfase2 h1{
	font-size:21px;
  margin-bottom:20px;
  margin-left:65px;
  margin-top:21px;
  color: #F29400;
}



	
	